/* Design by http://www.dreamtemplate.com */
@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	color:#6d6d6d;
	font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
	background:#e2ded4 url(../images/main_bg.jpg) repeat-x center top;
}
html, .main {
	padding:0;
	margin:0;
}
.main {
	background:url(../images/hbg_bg.jpg) no-repeat center top;
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
h2 {
	margin:8px 0;
	padding:8px 0;
	font-size:26px;
	font-weight:normal;
	color:#343537;
	text-transform:none;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
}
a {
	color:#efa233;
	text-decoration:underline;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}

.header_resize {
	margin:0 auto;
	padding:0;
	width:960px;
}
.logo {
	padding:0 0 0 20px;
	float:none;
	float:left;
	width:auto;
	height:98px;
}
h1 {
	margin:0;
	padding:24px 0 0;
	font-size:36px;
	font-weight:bold;
	line-height:1.2em;
	text-transform:none;
}
h1 a, h1 a:hover {
	color:#585858;
	text-decoration:none;
}
h1 span {
}
h1 small {
	display:block;
	font-size:13px;
	line-height:1.2em;
	letter-spacing:normal;
	text-transform:none;
	color:#eb5555;
}
.slider {
	margin:0;
	padding:10px 21px;
	background:url(../images/slider_bg.jpg) no-repeat center top;
}
.rss {
	padding:18px 20px 0 0;
	float:right;
	width:auto;
}
.rss p {
	margin:0;
	padding:0;
	float:right;
	width:auto;
	color:#fff;
	font-size:13px;
	line-height:1.5em;
	font-weight:bold;
}
.rss a {
	color:#fff;
	text-decoration:none;
}
.rss a:hover {
	text-decoration:underline;
}
.rss img {
	margin:-3px 0 -3px 6px;
	border:none;
}
.menu_nav {
	margin: 0;
	padding: 20px 0 0;
	height: auto;
	float: left;
  }
  
  .menu_nav ul {
	list-style: none;
	padding: 0;
	height: auto;
	float: left;
  }
  
  .menu_nav ul li {
	margin: 0;
	padding: 0 2px 0 0;
	float: left;
	background: none;
	position: relative; 
  }
  
  .menu_nav ul li a {
	display: block;
	margin: 0;
	padding: 10px 15px;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	text-transform: none;
	text-align: center;
	background: #cadb34; 
	border-radius: 5px;
	transition: background 0.3s ease;
  }
  
  .menu_nav ul li a:hover {
	background: #2980b9; 
	color: #fff;
  }
  
  .menu_nav ul li ul {
	display: none; 
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute; 
	top: 100%; 
	left: 0;
	background: #f9f9f9; 
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.1);
	z-index: 1000;
	min-width: 200px;
  }
  
  .menu_nav ul li:hover > ul {
	display: block; 
  }
  
  .menu_nav ul li ul li {
	padding: 10px 20px;
	border-bottom: 1px solid #ddd;
  }
  
  .menu_nav ul li ul li:last-child {
	border-bottom: none;
  }
  
  .menu_nav ul li ul li a {
	color: #333;
	text-decoration: none;
	display: block;
	padding: 5px 0;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
  }
  
  .menu_nav ul li ul li a:hover {
	background: #f2f2f2; 
	color: #333;
  }
  
  .menu_nav ul li ul li ul {
	display: none; 
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute; 
	top: 0; 
	left: 100%;
	background: #f9f9f9;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.1);
	z-index: 1000;
	min-width: 200px;
  }
  
  .menu_nav ul li ul li:hover > ul {
	display: block;
  }

.content_resize {
	margin:0 auto;
	padding:24px 0 40px;
	width:960px;
	background:#fff;
}
.content .mainbar {
	margin:0;
	padding:0;
	float:right;
	width:690px;
}
.content .mainbar h2 {
	margin-bottom:0;
	padding-bottom:8px;
	color:#fff;
}
.content .mainbar div.img {
	padding:12px 0;
	float:left;
}
.content .mainbar img {
}
.content .mainbar img.fl {
	margin:0;
}
.content .mainbar .article {
	margin:0 0 8px;
	padding:0 20px 6px;
	background:url(../images/article.jpg) no-repeat left top;
}

.content .mainbar .post_content strong {
	color:#6d6d6d;
}
.content .sidebar {
	padding:0;
	float:left;
	width:260px;
}
.content .sidebar .gadget {
	margin:0 0 12px;
	padding:6px 20px 24px;
}
.content .sidebar h2 {
	color:#212121;
	border-bottom:2px solid #c8c8c8;
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#6e6e6e;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
	border-bottom:1px solid #e8e8e8;
}
ul.sb_menu li, ul.ex_menu li {
	padding:8px 0;
	width:220px;
}
ul.sb_menu li a {
	color:#6e6e6e;
	text-decoration:none;
	margin-left:-16px;
	padding:4px 8px 4px 16px;
}
ul.ex_menu li a {
	font-weight:bold;
	color:#6e6e6e;
	text-decoration:none;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	color:#efa233;
	font-weight:bold;
	text-decoration:none;
}
p.spec {
	padding:0 0 16px;
}
p.infopost {
	margin:0 0 8px;
	padding:0 12px 6px;
	color:#fff;
}
p.infopost a {
	padding:0 2px;
	text-decoration:none;
	font-weight:normal;
	color:#efa233;
}
p.infopost a:hover {
	text-decoration:underline;
}
p.infopost span.date {
	color:#efa233;
}
.article a.com {
	float:right;
	margin:-19px 0;
	padding:0;
	font-size:15px;
	width:68px;
	font-weight:normal;
	text-decoration:none;
	text-align:center;
	color:#fff;
}
.article a.com:hover {
	text-decoration:none;
}
.article a.com span {
	font-weight:normal;
	font-size:26px;
}
.post_content a.rm {
	display:block;
	float:left;
	margin:0 0 16px;
	padding:0;
	width:104px;
	font-size:13px;
	line-height:33px;
	font-weight:normal;
	text-transform:none;
	color:#585858;
	text-decoration:none;
	text-align:center;
	background:url(../images/readmore.jpg) no-repeat center center;
}
.post_content a.rm:hover {
	text-decoration:underline;
}
.content p.pages {
	margin:0;
	padding:24px 20px;
	font-size:11px;
	line-height:34px;
	color:#343537;
	text-align:left;
}
.content p.pages span, .content p.pages a {
	display:block;
	float:left;
	margin:0 4px 0 0;
	padding:0;
	width:34px;
	text-decoration:none;
	text-align:center;
}
.content p.pages span, .content p.pages a:hover {
	color:#343537;
	background:url(../images/page_a.jpg) no-repeat center center;
}
.content p.pages a {
	color:#343537;
	border:none;
}
.content p.pages small {
	font-size:12px;
	float:right;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.subpage .content .mainbar .article {
	background:none;
}
.subpage .content .mainbar .article h2 {
	color:#313131;
	padding:0 0 4px;
}
.fbg {
}
.fbg_resize {
	margin:0 auto;
	width:920px;
	padding:16px 20px;
	color:#c8c8c8;
	border-bottom:1px solid #333;
	background:#424242 url(../images/fbg_bg.gif) repeat-x left top;
}
.fbg h2 {
	color:#c8c8c8;
	padding-bottom:24px;
	font-size:22px;
}
.fbg img.gal {
	margin:0 8px 8px 0;
	padding:0;
	border:4px solid #ece7e7;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 16px 0 0;
	width:280px;
}
.fbg .c2 {
	padding:0 36px 0 16px;
	width:280px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:274px;
}
.fbg .fbg_ul {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li a {
	display:block;
	margin:0;
	padding:2px 0 2px 12px;
	color:#c8c8c8;
	text-decoration:none;
	background:url(../images/li.gif) no-repeat left center;
}
.fbg .fbg_ul li a:hover {
	color:#efa233;
	text-decoration:underline;
}
.fbg p.contact_info {
	line-height:1.8em;
}
.fbg p.contact_info a {
	color:#c8c8c8;
	text-decoration:underline;
	font-weight:normal;
}
.fbg p.contact_info span {
	display:block;
	float:left;
	width:74px;
	font-weight:bold;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:5px 2px;
	height:16px;
	background-color:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:2px;
	background-color:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
.searchform {
	padding:0;
	float:right;
}
#formsearch {
	margin:0;
	padding:68px 18px 0 0;
	width:auto;
	height:30px;
}
#formsearch span {
	display:block;
	margin:0;
	padding:0;
	float:left;
	background:url(../images/search_bg.gif) no-repeat left top;
}
#formsearch input.editbox_search {
	margin:0;
	padding:7px 10px;
	float:left;
	width:178px;
	font-size:12px;
	line-height:16px;
	color:#a8acb2;
	background:none;
	outline:none;
	border:none;
}
#formsearch input.button_search {
	margin:0;
	padding:0;
	border:none;
	float:left;
}

.footer_resize {
	margin:0 auto;
	padding:0 20px;
	width:920px;
	border-top:1px solid #5c5c5c;
	background:#424242;
	line-height:1.5em;
	color:#c8c8c8;
}
.footer_resize p {
	margin:24px 0;
	padding:0;
	line-height:normal;
	white-space:nowrap;
	text-indent:inherit;
}
.footer_resize a {
	color:#e2ded4;
	font-weight:normal;
	margin:0;
	padding:0;
	border:none;
	text-decoration:underline;
	background-color:transparent;
}
.footer_resize a:hover {
	color:#e2ded4;
	background-color:transparent;
	text-decoration:none;
}
.footer_resize .lf {
	float:left;
}
.footer_resize .rf {
	float:right;
}
a {
	outline:none;
}



.bibliography {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  .lawyer {
	margin: 20px;
	width: 250px;
	background-color: #f7f7f7;
	padding: 20px;
	border: 1px solid #ddd;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .lawyer-image {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 10px;
  }
  
  .lawyer h2 {
	font-size: 18px;
	margin-top: 0;
  }
  
  .lawyer p {
	font-size: 14px;
	margin-bottom: 10px;
  }
  
  .lawyer ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  .lawyer li {
	margin-bottom: 10px;
  }
  
  .lawyer li:before {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #ccc;
	border-radius: 50%;
	margin-right: 10px;
  }



  .objectives {
  background-color: #f7f7f7;
  padding: 40px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.objectives h2 {
  font-size: 24px;
  margin-top: 0;
  color: #333;
}

.objectives h3 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #666;
}

.objectives-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.objectives-list li {
  margin-bottom: 20px;
}

.objectives-list li i {
  font-size: 24px;
  color: #666;
  margin-right: 10px;
}

.objectives-list li strong {
  font-size: 16px;
  color: #333;
}



